@if (ViewBag.ErrorTitle == null)
{
    <h3>
        An error has occured while processing your request.
    </h3>
    <h5>Please contact us</h5>
}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h5 class="text-danger">@ViewBag.ErrorMessage</h5>
}
