@{
    ViewBag.Title = "Email Confirmed";
}
<div class="text-center">
    <h1 class="display-4">Thank you for confirming your email</h1>
    <a asp-action="Index"
       asp-controller="Home"
       class="btn btn-primary">
        Go back home
    </a>
</div>
