
@{
    ViewBag.Title = "Password Reset";
}

<div class="text-center">
    <h1 class="display-4">Your password has been reset.</h1>
    <p>Please login</p>
    <a asp-action="Login" asp-controller="Account">Login</a>
</div>