@model List<ApplicationUser>

@{
    ViewBag.Title = "All authors";
}

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">All Authors</h1>
    </div>
</div>

@if (Model.Count == 0)
{
    <div class="row">
        <div class="card">
            <div class="card-header">
            </div>

            <div class="card-body">
                <h2 class="card-title">Not found</h2>
                <p class="card-text">No writer was found</p>
            </div>

        </div>
    </div>
}
else
{
    foreach (ApplicationUser author in Model)
    {
        <div class="row">
            <div class="card">
                <div class="card-header">

                </div>

                <div class="card-body">
                    <h2 class="card-title">@author.UserName</h2>

                    <a class="btn btn-primary" asp-controller="Profile" asp-action="Author" asp-route-username=@author.UserName>
                        Profile
                    </a>
                </div>
            </div>
        </div>

        <hr>
    }
}