
.col-md-6 {
    max-width: 100%;
}

.row {
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    width: 100%;
}

.navbar {
    margin-bottom: 0.5rem;
}

.topic-jumbotron {
}

textarea {
    white-space: pre-wrap;
}


.blog-post-title {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.blog-content p {
    font-size: 21px;
}

.deleteButton{
    margin-bottom:5px;
}


